{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}

  ;; For nrepl logging and more
  com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}
  com.taoensso/timbre {:mvn/version "6.6.1"}
  metosin/malli {:mvn/version "0.17.0"}
  mount/mount {:mvn/version "0.1.20"}}

 :paths ["src" "test" "resources"]

 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      nubank/matcher-combinators {:mvn/version "3.9.1"}}
         :main-opts ["-m" "kaocha.runner"]}
  :repl {:classpath-overrides {org.clojure/clojure nil}
         :jvm-opts ["-Dclojure.storm.instrumentEnable=true"]
         :extra-deps {cider/cider-nrepl {:mvn/version "0.52.0"}
                      djblue/portal {:mvn/version "0.58.5"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                      com.github.flow-storm/flow-storm-dbg {:mvn/version "4.1.0"}
                      com.github.flow-storm/clojure {:mvn/version "1.12.0-2"}}}
  :antq {:deps {com.github.liquidz/antq {:mvn/version "2.11.1264"}}
         :main-opts ["-m" "antq.core"]}
  :format {:deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
           :main-opts ["-m" "cljfmt.main" "fix"]}}}
